*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #E3B5A4;
}

.wrapper{
    background-color: #F5E7E0;
    width: 370px;
    padding: 30px;
    border-radius: 7px;

}

.wrapper header{
    font-size: 28px;
    font-weight: 500;
    text-align: center;
}

.wrapper form{
    margin: 40px 0;
}

form :where(input, select, button){
    width: 100%;
    outline: none;
    border: none;
    background-color: #F5E7E0;
}

form p{
    font-size: 18px;
    margin-bottom: 5px;
}

form input{
    height: 2rem;
    font-size: 17px;
    padding: 0 15px;
    border: 1px solid #E3B5A4;
    border-radius: 2rem;
}

form .drop-list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.drop-list .select-box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    width: 115px;
    border-radius: 5px;
    border: 1px solid #E3B5A4;
}

.select-box select{
    width: auto;
    font-size: 16px;
    margin: 0 -5px 0 5px;
}

.select-box select::-webkit-scrollbar{
    width: 8px;
}
.select-box select::-webkit-scrollbar-track{
    background-color: #F5E7E0;
}
.select-box select::-webkit-scrollbar-thumb{
    background-color: #8f3d52;
    border-radius: 8px;
    border-right: 2px solid #AB4962;
}

.select-box img{
    max-width: 40px;
}

.drop-list i{
    font-size: 22px;
    cursor: pointer;
    margin-top: 30px;
}

form .exchange-rate{
    font-size: 17px;
    margin: 20px 0 30px;
}

form button{
    background-color: #AB4962;
    color: white;
    height: 52px;
    font-size: 17px;
    cursor: pointer;
    border-radius: 12px;
}

/* media query */
@media(max-width:425px){
    .wrapper{
      
        width: 300px;
        max-height: 370px;
        padding: 30px;
    
    }

    .wrapper header{
        font-size: 25px;
        font-weight: 500;
        text-align: center;
    }

    form p{
        font-size: 15px;
        margin-bottom: 5px;
    }

    form input{
        height: 1.5rem;
        font-size: 15px;
        
    }

    .drop-list .select-box{
       
        height: 32px;
        width: 100px;
        
    }

    .select-box select{
        
        font-size: 12px;
        
    }

    .select-box img{
        max-width: 35px;
    }

    .drop-list i{
        font-size: 16px;
        
    }

    form .exchange-rate{
        font-size: 15px;
       
    }

    form button{
       
        height: 42px;
        font-size: 16px;
       
    }
}

@media(max-width:320px){
    .wrapper{
      
        width: 270px;
        max-height: 360px;
        padding: 30px;
    
    }

    .wrapper header{
        font-size: 24px;
        font-weight: 500;
        text-align: center;
    }

    form p{
        font-size: 13.5px;
        margin-bottom: 5px;
    }

    form input{
        height: 1.4rem;
        font-size: 13.5px;
       
    }

    .drop-list .select-box{
       
        height: 30px;
        width: 90px;
        
    }

    .select-box select{
        
        font-size: 10.5px;
       
    }

    .select-box img{
        max-width: 30px;
    }

    .drop-list i{
        font-size: 14px;
        
    }

    form .exchange-rate{
        font-size: 14px;
       
    }

    form button{
       
        height: 39px;
        font-size: 15.5px;
       
    }

}